<!-- Created by Caroline. Based off the _includes/archive-single.html -->
{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<!-- Defines each publication-specific page. -->
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <!-- define title -->
    <h2>
      {{ title }} 
    </h2>

    <!-- print venue -->
    {% if post.venue %}
      <p style="margin-bottom:0;">
        <i>{{ post.venue }}</i> {{ post.date | default: "1900-01-01" | date: "%Y" }}
      </p>
    {% endif %}

    <!-- print excerpt -->
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description" style="margin-bottom:10px; padding-top:0;"> 
      <b>TLDR</b>: {{ post.excerpt | markdownify | strip_html }}
    </p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description" style="margin-bottom:10px; padding-top:0;">
      <b>TLDR</b>: {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}

    <!-- Buttons row -->
    <div style="margin-bottom: 15px; display: flex; flex-wrap: wrap; gap: 10px;">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="btn btn--info">Paper Link</a>
      {% endif %}
      <a href="{{ base_path }}{{ post.url }}" class="btn btn--info">More Info</a>
      {% if post.slides %}
        <a href="{{ post.slides }}" class="btn btn--info">Slides</a>
      {% endif %}
      {% if post.award %}
        {% if post.award contains "<a " %}
          {{ post.award | replace: '<a ', '<a class="btn btn--info" ' }}
        {% else %}
          <span class="btn btn--info">{{ post.award }}</span>
        {% endif %}
      {% endif %}
    </div>

    <!-- print recommended citation -->
    {% if post.citation %}
      <p style="margin-bottom:0;">
        <b>Recommended citation</b>: {{ post.citation }}
      </p>
    {% endif %}
    
  </article>
</div>
